* {
  font-family: "Bubblegum Sans", cursive;
}

.sunrise {
  background-image: url("../assets/beachSunrise.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 150vh;
  color: black;
}

.morning {
  background-image: url("../assets/morningMountains.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 150vh;
}

.afternoon {
  background-image: url("../assets/daytimeMountains.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 150vh;
}

.sunset {
  background-image: url("../assets/sunsetMountains.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 100vh;
}

.evening {
  background-image: url("../assets/evening.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 150vh;
}

.night {
  background-image: url("../assets/nightMountains.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  height: 150vh;
}
